@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

$font-family: "Roboto", sans-serif;
$primaryColor: #3498db;
$secondaryColor: #74b9ff;
$white: #ddd;
$black: #333;
